.texture-selector {
    display: inline-block;
    
    margin: 20px auto;
    
    padding: 12px;
    border: 2px solid var(--dark-blue);
    
    background: #fff;
    
    position: relative;
}

.texture-selector img {
    width: 40px;
    margin: 0 8px 0 8px;
}

.texture-area {
    width: 260px;
    height: 260px;
    
    margin: 20px auto;
    
    border: 2px solid var(--dark-blue);
    
    background: #fff;
}